.thumbnails{
	.row {
		& > div {
			position: relative;
			max-height: 695px;
		}
		img {
			max-width: 100%;
			box-shadow: 0px 0px 3px #5a5a5a;
			border-radius: 10px;	
			min-height: 383px;
		}
		h2{
			font-size: 1.4rem;
			margin: 7px 0px;
			color: $primary-color;
			max-height: 55px;
			min-height: 55px;
			overflow: hidden;
		}
		p{
			font-size:0.8rem;
			color:lighten( $dark, 10% );
			max-height: 150px;
			min-height: 150px;
			overflow: hidden;
		}
		span {
			.rate-icon{
				position: absolute;
				top: 8px;
				right: 10px;
				&:before{
					content: '\f005';
					font-family: 'FontAwesome';
					font-size: 48px;
					color: yellow;
					position: relative;
					left: -12px;
					top: -13px;
				}
			}
			.rate-value {
				position: absolute;
				top: 17px;
				right: 33px;
				width: 24px;
				text-align: center;
			}
		}
	}
}